APP_NAME=auth_service
REST_PORT=8080

# JWT configuration
JWT_SECRET=my-jwt-secret

# Application-specific settings
APP_REFRESH_TIME_LIVE=24h            # Time-to-live for application refresh tokens
APP_TOKEN_TIME_LIVE=30m              # Time-to-live for access tokens

# Logger configuration
LOGGER_LEVEL=debug                   # Logging level (e.g., debug, info, warn, error)

# PostgreSQL database configuration
POSTGRES_HOST=localhost               # Hostname for the PostgreSQL server
POSTGRES_PORT=5432                   # Port for the PostgreSQL server
POSTGRES_USER=postgres               # Username for the PostgreSQL connection
POSTGRES_PASSWORD=qqqq              # Password for the PostgreSQL connection
POSTGRES_DATABASE=auth               # Database name to connect to

# Redis database configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0


# Webhook for refresh IP change
WEBHOOK_URL=http://localhost:8081/webhook
